@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  cursor: default;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  @apply font-sans antialiased text-white bg-black;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
