@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  cursor: default;
  text-rendering: optimizeLegibility;
  @apply font-sans antialiased juno-gradient-bg text-white min-h-screen;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
