@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Basement Grotesque';
  src: url('/fonts/BasementGrotesque-Black_v1.202.woff2') format('woff2'),
    url('/fonts/BasementGrotesque-Black_v1.202.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: dark;
}

html {
  cursor: default;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  @apply font-sans antialiased text-white bg-black;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
